<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{layout/layout :: head}"></head>
  <body>
    <header th:replace="~{layout/layout :: header}"></header>

    <div class="container py-4">
      <div class="card bg-light">
        <div class="card-header" th:text="${titulo}"></div>
        <div class="card-body">
          <h4 class="card-tittle">
            <a class="btn btn-success btn-xs" th:href="@{/form}"
              >Crear nuevo cliente</a
            >
          </h4>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>id</th>
                <th>nombre</th>
                <th>apellido</th>
                <th>email</th>
                <th>fecha</th>
                <th>Crear factura</th>
                <th>Editar</th>
                <th>Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="cliente: ${listaClientes}">
                <td th:text="${cliente.id}"></td>
                <td th:text="${cliente.nombre}"></td>
                <td th:text="${cliente.apellido}"></td>
                <td th:text="${cliente.email}"></td>
                <td th:text="${cliente.createdAt}"></td>
                <td><a class="btn btn-info btn-xs" th:href="@{'/factura/form/' + ${cliente.id}}" th:text="'Crear factura'"></a> </td>
                <td>
                  <a
                    class="btn btn-primary btn-xs"
                    th:href="@{'/form/' + ${cliente.id}} "
                    th:text="Editar"
                  ></a>
                </td>
                <td>
                  <a
                    class="btn btn-danger btn-xs"
                    th:href="@{/eliminar/} + ${cliente.id}"
                    th:text="Eliminar"
                    onclick="return confirm('Are you sure you want to delete it?');"
                  ></a>
                </td>
              </tr>
            </tbody>
          </table>
          <nav th:replace="~{paginator-nav :: paginator} "></nav>
        </div>
      </div>
    </div>

    <footer th:replace="~{layout/layout :: footer}"></footer>
  </body>
</html>
