<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<body>
    <nav th:fragment="paginator">
        <ul class="pagination">
            <li class="page-item" th:class="${pageRender.isFirst ? 'page-item disabled' : 'page-item'}">
                <span class="page-link" th:if="${pageRender.isFirst}">Primera</span>
                <a class="page-link" th:if="${not pageRender.isFirst}" th:href="@{${pageRender.url}(page=0)}">Primera</a>
            </li>

            <li class="page-item" th:class="${not pageRender.hasPrevious ? 'page-item disabled' : 'page-item'}">
                <span class="page-link" th:if="${not pageRender.hasPrevious}">Anterior</span>
                <a class="page-link" th:if="${pageRender.hasPrevious}" th:href="@{${pageRender.url}(page=${pageRender.paginaActual - 2})}">Anterior</a>
            </li>


            <li class="page-item" th:each="item: ${pageRender.pageList}" th:class="${item.isActualPage ? 'page-item active' : 'page-item'}">
                <span class="page-link" th:if="${item.isActualPage}" th:text="${item.numero}"></span>
                <a class="page-link" th:if="${not item.isActualPage}" th:href="@{${pageRender.url}(page=${item.numero - 1})}" th:text="${item.numero}"></a>
            </li>


            <li class="page-item" th:class="${not pageRender.hasNext ? 'page-item disabled' : 'page-item'}">
                <span class="page-link" th:if="${not pageRender.hasNext}">Siguiente</span>
                <a class="page-link" th:if="${pageRender.hasNext}" th:href="@{${pageRender.url}(page=${pageRender.paginaActual})}">Siguiente</a>
            </li>

            <li class="page-item" th:class="${pageRender.isLast ? 'page-item disabled' : 'page-item'}">
                <span class="page-link" th:if="${pageRender.isLast}">Última</span>
                <a class="page-link" th:if="${not pageRender.isLast}" th:href="@{${pageRender.url}(page=${pageRender.totalPaginas - 1})}">Última</a>
            </li>
        </ul>
    </nav>
</body>
</html>